In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('datasets/titanic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,1,1,32.0,0,0,30.5000,1,0,0
1,0,2,1,54.0,1,0,26.0000,0,0,1
2,0,3,1,30.5,0,0,8.0500,0,0,1
3,0,3,1,1.0,4,1,39.6875,0,0,1
4,1,2,0,28.0,1,0,26.0000,0,0,1

In [5]:
titanic_df.shape

(712, 10)

In [6]:
from sklearn.model_selection import train_test_split
X = titanic_df.drop('Survived', axis = 1)
Y = titanic_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((569, 9), (569,), (143, 9), (143,))

In [13]:
from sklearn.linear_model import LogisticRegression
#penalty regularizes the model by penalizing  overly complex models, l2 is default penalty function
#C is strength of regularization function, smaller values indicate stronger regulation 
#liblinear solver works well on small datasets, indicates the type of optimization performed
logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train,y_train)

In [14]:
y_pred = logistic_model.predict(x_test)

In [15]:
pred_results = pd.DataFrame({'y_test': y_test,
                             'y_pred': y_pred})

In [17]:
pred_results.head(10)

     y_test  y_pred
441       0       0
351       0       0
509       1       1
331       1       1
145       0       0
656       0       0
102       1       0
705       1       1
518       1       1
71        1       1

In [18]:
#confusion matrix, plots actual results vs. predicted values
#shows true positives, true negatives, false positives, false negatives
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
titanic_crosstab

y_test   0   1
y_pred
0       66  18
1       13  46

In [19]:
#accuracy score for binary classification problem should be over 50%, 50% is what you get guessing randomly
from sklearn.metrics import accuracy_score, precision_score, recall_score
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
print('Accuracy Score: ', acc)
print('Precision Score: ', prec)
print('Recall Score: ', recall)

Accuracy Score:  0.7832167832167832
Precision Score:  0.7796610169491526
Recall Score:  0.71875

In [20]:
titanic_crosstab

y_test   0   1
y_pred
0       66  18
1       13  46

In [22]:
TP = titanic_crosstab[1][1]
TN = titanic_crosstab[0][0]
FP = titanic_crosstab[0][1]
FN = titanic_crosstab[1][0]

In [23]:
accuracy_score_verified = (TP+TN)/(TP+FP+TN+FN)
accuracy_score_verified

0.7832167832167832

In [25]:
precision_score_survived = TP / (TP + FP)
precision_score_survived

0.7796610169491526

In [26]:
recall_score_survived = TP / (TP + FN)
recall_score_survived

0.71875